html, body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #FBB144; 
    margin: 0;
    padding: 0; 
    overflow: hidden; /* Đảm bảo không có thanh cuộn */
}

.container {
    max-width: 500px;
    margin: auto;    
}

.header-container{
    justify-content: center;
    margin: 20px;
    padding-top: 10px;
}
.canvas-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

canvas {
    border: 2px solid #ccc;
    cursor: grab;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.control-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.control-group label {
    font-size: 14px;
    font-weight: bold;
}

.control-group input {
    flex: 1;
    max-width: 120px;
}

/* Định dạng riêng cho mobile */
@media (max-width: 480px) {
    .control-group {
        flex-direction: column;
        align-items: center;
    }

    .control-group input {
        width: 80%;
    }
}

button {
    padding: 10px 15px;
    margin: 5px;
    background: linear-gradient(to bottom, rgba(30,73,154,1) 0%,rgba(32,103,202,1) 31%,rgba(32,103,202,1) 36%,rgba(42,117,216,1) 53%,rgba(126,174,232,1) 100%);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}

/* Hiển thị hiệu ứng particles.js toàn màn hình */
#particles-js {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #000e4d; /* Màu nền, có thể chỉnh */
    z-index: -1;
    top: 0;
    left: 0;
}
